
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isExistingOwner(userId) {
      return resource != null && isOwner(userId);
    }

    function matchesOrgPath(orgId) {
      return request.resource.data.organizationId == orgId;
    }

    function isRelationalDataImmutable() {
      return request.resource.data.organizationId == resource.data.organizationId;
    }

    match /organizations/{organizationId} {
      allow get, list: if isOwner(organizationId);
      allow create: if isOwner(organizationId) && request.resource.data.id == organizationId;
      allow update: if isExistingOwner(organizationId) && request.resource.data.id == resource.data.id;
      allow delete: if isExistingOwner(organizationId);

      match /clients/{clientId} {
        allow get, list: if isOwner(organizationId);
        allow create: if isOwner(organizationId) && matchesOrgPath(organizationId);
        allow update: if isExistingOwner(organizationId) && isRelationalDataImmutable();
        allow delete: if isExistingOwner(organizationId);
      }

      match /proposals/{proposalId} {
        allow get, list: if isOwner(organizationId);
        allow create: if isOwner(organizationId) && matchesOrgPath(organizationId);
        allow update: if isExistingOwner(organizationId) && isRelationalDataImmutable();
        allow delete: if isExistingOwner(organizationId);
      }

      match /invoices/{invoiceId} {
        allow get: if isOwner(organizationId) || (isSignedIn() && resource.data.clientId == request.auth.uid);
        allow list: if isOwner(organizationId);
        
        allow create: if isOwner(organizationId) && matchesOrgPath(organizationId);
        allow update: if isExistingOwner(organizationId) && isRelationalDataImmutable();
        allow delete: if isExistingOwner(organizationId);

        match /lineItems/{lineItemId} {
          allow get: if isOwner(organizationId) || (isSignedIn() && resource.data.clientId == request.auth.uid);
          allow list: if isOwner(organizationId);

          allow create: if isOwner(organizationId) && matchesOrgPath(organizationId);
          allow update: if isExistingOwner(organizationId) && isRelationalDataImmutable();
          allow delete: if isExistingOwner(organizationId);
        }
      }
    }

    match /{path=**}/invoices/{invoiceId} {
      allow list: if isSignedIn() && request.query.limit <= 100;
    }
  }
}
